---
import DynamicIcon from "@/helpers/DynamicIcon";
const { faq } = Astro.props;
const { faq_items } = faq;
---

<div
  class="rounded-[25px] border border-border bg-theme-light p-3 text-dark sm:rounded-[50px] sm:p-8 md:p-5"
>
  {
    faq_items.map((item: { title: string; content: string }, index: number) => (
      <div
        class={`accordion accordion-1 mb-3 rounded-[17px] border border-border border-opacity-40 bg-white sm:mb-6 sm:rounded-[34px]`}
      >
        <div class="accordion-header flex items-center" data-accordion>
          {item.title}
          <DynamicIcon
            id="accordion-icon"
            icon="FaChevronDown"
            className={`w-4 h-3 transition-all  ease-in-out mr-1 -rotate-90`}
          />
        </div>
        <div class="accordion-content">
          <p>{item.content}</p>
        </div>
      </div>
    ))
  }
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const accordion = document.querySelectorAll("[data-accordion]");
    accordion.forEach((header) => {
      header?.addEventListener("click", () => {
        const accordionItem = header.parentElement;
        accordionItem?.classList.toggle("active");
        header?.querySelector("#accordion-icon")?.classList.toggle("rotate-0");
      });
    });
  });
</script>
