---
import DynamicIcon from "@/helpers/DynamicIcon";
import NesteComponent from "@/helpers/NestedComponent";

const { sidebarData, pageData, regular } = Astro.props;
const rootPage = regular.split("/")[0];
---

<div class="w-[320px] lg:w-[380px] lg:pr-0">
  <aside
    class="sidebar overflow-auto lg:!sticky lg:!top-[95px] lg:max-h-[calc(100vh-100px)] lg:!w-full lg:!py-10 lg:!pr-[46px]"
  >
    {
      (
        <form
          id="search-form"
          class="mb-10 hidden w-full justify-between rounded-xl border border-border sm:rounded-2xl lg:flex"
          data-search-trigger
        >
          <input
            type="search"
            readonly
            class="w-full border-0 bg-transparent p-3 pl-6 pr-0 font-secondary placeholder:text-sm placeholder:text-text/50 focus:border-0 focus:ring-0"
            placeholder="Search The Doc"
          />
          <button type="button" class="pl-3 pr-6">
            <DynamicIcon icon="FaMagnifyingGlass" className="text-theme-dark" />
          </button>
        </form>
      )
    }
    <!-- Search Form -->
    <NesteComponent
      client:load
      menuData={sidebarData}
      pageData={pageData}
      rootPage={rootPage}
      regular={regular}
    />
    <!-- End Sidebar List -->
  </aside>
  <!-- End Sidebar -->
  <button class="sidebar-toggler group flex justify-center items-center">
    <DynamicIcon icon="FaBars" className="group-[.active]:hidden w-5 h-5" />
    <DynamicIcon
      icon="BsX"
      className="hidden group-[.active]:inline-block w-5 h-5"
    />
  </button>
  <!-- End Sidebar Toggler -->
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    const sidebar = document.querySelector(".sidebar");
    const sidebarToggleBtn = document.querySelector(
      ".sidebar-toggler",
    ) as HTMLButtonElement;
    sidebarToggleBtn?.addEventListener("click", () => {
      if (sidebarToggleBtn.classList.contains("active")) {
        let overylay = document.querySelector(".overlay");
        overylay!.remove();
      } else {
        let overylay = document.createElement("div");
        overylay.className =
          "overlay block lg:hidden bg-dark bg-opacity-70 w-screen h-screen fixed left-0 top-0";
        overylay?.addEventListener("click", () => {
          sidebarToggleBtn?.click();
        });
        sidebar!.parentElement!.appendChild(overylay);
      }
      sidebarToggleBtn.classList.toggle("active");
      sidebar!.classList.toggle("active");
    });
  });
</script>
