---
import DynamicIcon from "@/helpers/DynamicIcon";
const { topic, getPages } = Astro.props;

const getFirstVisitLink = (slug: string) => {
  const filterlink = getPages
    .filter((item: any) => !item.id.includes("-index"))
    .map((data: any) => data.slug)
    .sort((a: string, b: string) => b.localeCompare(a));
  const link = filterlink.find((id: string) =>
    id.includes(slug.split("/-")[0]),
  );
  return link;
};
---

<div class="flex md:col-6 lg:col-4 2xl:col-3">
  <div
    class="flex flex-col items-start rounded-xl border border-border/30 px-5 py-7 sm:rounded-2xl"
  >
    <div
      class="colored-box mb-6 flex h-[80px] w-[80px] items-center justify-center rounded-full text-center"
    >
      <DynamicIcon client:load icon={topic.data.icon} className="w-9 h-9" />
    </div>
    <h3 class="mb-5 text-h5 font-normal text-white">{topic.data.title}</h3>
    <p class="mb-5 font-secondary font-normal text-light/70">
      {topic.data.description}
    </p>
    <a
      href={"/docs/" + getFirstVisitLink(`${topic.slug}`).split(".")[0]}
      class="group mt-auto text-primary"
    >
      View Details
      <span class="inline-block transition-all duration-300 group-hover:ml-1">
        <svg
          width="21"
          height="14"
          viewBox="0 0 21 14"
          fill="text-primary"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M20.6187 7.61872C20.9604 7.27701 20.9604 6.72299 20.6187 6.38128L15.0503.812816C14.7085.471107 14.1545.471107 13.8128.812816 13.4711 1.15452 13.4711 1.70854 13.8128 2.05025L18.7626 7l-4.9498 4.9497C13.4711 12.2915 13.4711 12.8455 13.8128 13.1872 14.1545 13.5289 14.7085 13.5289 15.0503 13.1872l5.5684-5.56848zM0 7.875H20V6.125H0v1.75z"
            fill="#c7e564"></path>
        </svg>
      </span>
    </a>
  </div>
</div>
