// Container
.container,
.container-fluid {
  @apply mx-auto w-full pl-[var(--bs-gutter-x,calc(1.5rem_/_2))] pr-[var(--bs-gutter-x,calc(1.5rem_/_2))];
}
.container {
  --bs-gutter-x: 1rem;

  @media screen and (min-width: 767px) {
    --bs-gutter-x: 1.8rem;
  }
}
.container-fluid {
  @apply max-w-[1920px];

  --bs-gutter-x: 1rem;

  @media screen and (min-width: 767px) {
    --bs-gutter-x: 3.5rem;
  }
}

// Custom Scrollbar
.cs-scrollbar {
  &::-webkit-scrollbar {
    @apply w-[5px];
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &:hover::-webkit-scrollbar-track {
    @apply bg-theme-light;
  }

  &:hover::-webkit-scrollbar-thumb {
    @apply bg-theme-dark/25;
  }
}

// Colored Box
.has-colored-box {
  & > *:nth-child(10n + 1) {
    .colored-box {
      @apply bg-sky-400;
    }
  }
  & > *:nth-child(10n + 2) {
    .colored-box {
      @apply bg-teal-400;
    }
  }
  & > *:nth-child(10n + 3) {
    .colored-box {
      @apply bg-slate-300;
    }
  }
  & > *:nth-child(10n + 4) {
    .colored-box {
      @apply bg-orange-400;
    }
  }
  & > *:nth-child(10n + 5) {
    .colored-box {
      @apply bg-red-400;
    }
  }
  & > *:nth-child(10n + 6) {
    .colored-box {
      @apply bg-green-300;
    }
  }
  & > *:nth-child(10n + 7) {
    .colored-box {
      @apply bg-lime-300;
    }
  }
  & > *:nth-child(10n + 8) {
    .colored-box {
      @apply bg-fuchsia-400;
    }
  }
}

// section style
.section {
  @apply py-20 md:py-24;

  &-lg {
    @apply py-[4rem] lg:py-[8.125rem];
  }

  &-md {
    @apply py-16;
  }

  &-sm {
    @apply py-10;
  }
}

// Sidebar
.sidebar {
  @apply cs-scrollbar max-lg:fixed max-lg:-left-full lg:overflow-auto;

  &.active {
    @apply left-0 top-0 z-40 h-full w-full max-w-[270px] overflow-auto border-r border-r-border bg-white px-4 pt-4 xs:max-w-[400px] lg:border-r-0;
  }
}

.sidebar-toggler {
  @apply bg-theme-dark/60 fixed left-[-1px] top-[100px] z-40 w-[60px] rounded-r-2xl py-2 text-white lg:hidden #{!important};

  &.active {
    @apply left-[270px] w-[45px] xs:left-[400px];
  }
}

// Sidebar List Arrow
.left-arrow-style {
  // &::after {
  //   background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='black' stroke-width='1.5'/%3E%3C/svg%3E%0A");
  // }
}
.left-arrow-active-style {
}

.sidebar-list {
  > li {
    @apply block py-4 #{!important};

    &:first-child {
      @apply pt-0 #{!important};
    }

    & > ul {
      @apply overflow-hidden pl-5;

      // & > li a,
      // & > li button {
      //   // @apply hover:border-l-theme-dark border-l border-l-border py-[.5rem] pl-4 text-left font-light text-text transition-colors duration-300 hover:text-text sm:py-2.5;

      //   // &.active {
      //   //   @apply border-l-theme-dark border-l py-1 pl-4 font-medium text-text sm:py-3;
      //   // }
      // }

      ul {
        @apply overflow-hidden pl-5 text-[15px];

        li a,
        li button {
          @apply my-2 py-1 sm:py-[6px];
        }
      }

      // ul {
      //   li > .has-sibling-child {
      //     @apply left-arrow-style;
      //   }

      //   li.active > .has-sibling-child {
      //     @apply left-arrow-active-style;
      //   }
      // }
    }
  }

  > li:not(:last-child) {
    @apply border-b border-b-border;
  }
}
.sidebar-overlay {
  @apply bg-theme-dark/70 fixed left-0 top-0 z-30 block h-full w-full cursor-pointer lg:hidden;
}

// Copyright
.copyright {
  @apply text-center font-secondary text-sm text-light/60 lg:w-auto lg:gap-8 lg:text-left;

  a {
    @apply underline transition-colors duration-300 hover:text-primary;
  }
}

// Accordion
.accordion {
  @apply w-full overflow-hidden;

  & > .accordion-header {
    @apply relative select-none;
  }

  .accordion-content {
    @apply max-h-0 overflow-hidden;
  }

  &.active > .accordion-content {
    @apply max-h-[1000px];
  }
}

.accordion-1 {
  @apply overflow-hidden bg-white;

  &:last-child {
    @apply mb-0;
  }

  .accordion-header {
    @apply relative w-full cursor-pointer items-center justify-between p-6 pr-10 text-left text-h6 text-dark sm:text-h5 md:p-6 md:pl-8 md:text-h5;
  }

  .accordion-icon {
    @apply absolute right-6 top-[40%] m-0 -translate-y-1/2 md:right-8;
    width: 0.78em;
    height: 0.78em;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
  }

  .accordion-content {
    max-height: 0;
    overflow: hidden;
  }

  &.active {
    @apply bg-theme-dark;

    .accordion-header {
      @apply text-primary;
    }
    .accordion-content {
      p {
        @apply font-secondary text-light;
      }
    }
  }

  &.active .accordion-icon {
    transform: rotate(180deg);
  }

  &.active .accordion-content {
    @apply max-h-[1000px] p-6 pl-6 text-sm leading-relaxed sm:text-base md:pl-8;

    padding-top: 0px !important;
  }
}

.accordion-wrapper {
  @apply relative mb-6 rounded-xl border border-border bg-theme-light p-4 sm:rounded-2xl;
  .accordion-container {
    .dynamic-icon {
      @apply hidden;
    }
    .accordion {
      &.accordion-2 {
        @apply w-full overflow-hidden md:px-3 rounded-none bg-inherit border-none;

        &.accordion:not(:last-child) {
          @apply border-b border-b-border;
        }

        .accordion-header {
          @apply relative cursor-pointer select-none py-6 pl-6 pr-10 text-[16px] font-medium leading-normal text-dark md:text-[20px];

          @apply before:absolute before:bottom-0 before:left-[0px] before:top-1/2 before:h-[9px] before:w-[9px] before:-translate-y-1/2 before:rounded-full before:bg-theme-dark before:content-[""];
        }

        .accordion-icon {
          @apply absolute right-2 top-1/2 m-0 block -translate-y-1/2 h-[30px] w-[30px];

          &.collapsed {
            @apply hidden;
          }
        }

        .accordion-content {
          @apply hidden max-h-0 overflow-hidden bg-theme-light;

          p {
            @apply mb-0 text-sm font-normal leading-loose text-text md:text-base md:leading-relaxed;
          }
        }
        &.active {
          @apply bg-theme-light;

          .accordion-header {
            @apply text-dark;
          }
          .accordion-content {
            p {
              @apply font-secondary text-dark;
            }
          }
        }
        &.active .accordion-icon {
          @apply hidden;

          &.collapsed {
            @apply block;
          }
        }

        &.active {
          .accordion-content {
            @apply block font-secondary;
          }
        }
      }
    }
  }
}
.accordion-container {
  @apply mb-6;
  .accordion {
    &.accordion-2 {
      @apply overflow-hidden  mb-3 rounded-[17px] border border-border border-opacity-40 bg-theme-light sm:mb-6 sm:rounded-[34px];

      &:last-child {
        @apply mb-0;
      }

      .accordion-header {
        @apply relative w-full cursor-pointer items-center justify-between p-6 pr-10 text-left text-h6 text-dark sm:text-h5 md:p-6 md:pl-8 md:text-h5;
      }
      .dynamic-icon {
        @apply w-4 h-3 transition-all  ease-in-out mr-1;
      }
      .accordion-icon {
        @apply hidden;
      }

      .accordion-content {
        max-height: 0;
        overflow: hidden;
      }

      &.active {
        @apply bg-theme-dark;

        .accordion-header {
          @apply text-primary;
        }
        .accordion-content {
          p {
            @apply font-secondary text-light;
          }
        }
      }
      &.active .accordion-content {
        @apply max-h-[1000px] p-6 pl-6 text-sm leading-relaxed sm:text-base md:pl-8;

        padding-top: 0px !important;
      }
    }
  }
}
// Background Image & Color
.bg-hero-pattern {
  background-image: url("/images/bg-pattern.png");
}
.bg-sky-400 {
  @apply bg-[#53d2ff];
}
.bg-lime-400 {
  @apply bg-[#d4f85e];
}
.bg-pink-400 {
  @apply bg-[#cf5eaf];
}

// changelog
.changelog {
  @apply mt-8 rounded-xl border border-border bg-theme-light px-6 pb-12 pt-4 sm:rounded-2xl md:px-8;

  &-item {
    @apply pt-8 lg:scroll-mt-[105px];
  }
  &-title {
    @apply text-h4-md md:text-h4;
  }
  &-content {
    ul,
    ol {
      li {
        @apply relative mb-2 ml-6 pl-1 font-secondary text-text;

        @apply after:bg-theme-dark after:absolute after:bottom-0 after:left-[-20px] after:top-[10px] after:h-[9px] after:w-[9px] after:rounded-full after:content-[""];
      }
    }
  }
}
.changelog-link a.active {
  @apply text-secondary;
}

// social icon style
.social-icons {
  @apply flex flex-wrap items-center justify-center gap-4 text-white sm:gap-4 xl:justify-start;
  li {
    @apply inline-block;
    a {
      @apply hover:text-theme-dark flex items-center justify-center h-[40px] w-[40px] rounded-full bg-theme-light/25 text-center text-h5 leading-[37px] transition-colors duration-300 hover:bg-primary sm:h-[45px] sm:w-[45px] sm:leading-[45px];
    }
  }
}
.contact li a {
  @apply bg-theme-dark/70 hover:bg-primary;
}

// form style
.form-input {
  @apply focus:border-theme-dark w-full border-0 border-b border-border pb-2 pl-0 text-sm font-normal placeholder:text-text/50 focus:shadow-none focus:ring-0 md:text-base;
}
.form-label {
  @apply mb-2 block text-base font-medium text-text md:text-h5;
}

// Table of Contents
#toc-wrapper {
  @apply rounded-xl bg-theme-light sm:rounded-2xl;

  .toc-heading {
    @apply border-b border-b-border px-5 py-6;
  }

  .toc-content {
    @apply p-4;

    ol,
    ul {
      @apply mb-0 mt-2 pl-0;
    }

    ul li,
    ol li {
      @apply list-none pl-4 leading-snug after:hidden;
    }

    a {
      @apply relative font-secondary text-sm text-text after:absolute after:inset-0;

      &.active {
        @apply text-secondary before:absolute before:left-[-20px] before:top-0 before:h-full before:w-[3px] before:border-l before:bg-secondary before:content-[""];
      }
    }
  }
}
#TableOfContents {
  @apply cs-scrollbar max-h-[calc(80vh_-_100px)] overflow-auto py-4 md:pr-4;

  ol {
    @apply my-0 md:ml-2;
  }

  li {
    @apply list-none after:hidden;
  }
  li a {
    @apply relative font-primary text-xs leading-none text-text no-underline transition-colors duration-300 after:absolute after:inset-0 hover:text-secondary md:pl-[0.7rem];

    &.active {
      @apply font-normal text-secondary before:absolute before:left-0 before:top-0 before:h-full before:w-[3px] before:border-l before:bg-secondary before:content-[""];
    }
  }
}
.toc-responsive {
  #TableOfContents {
    @apply py-0;

    ol:not(:first-child) {
      @apply ml-3;
    }

    ol:first-child {
      @apply ml-0;
    }
    ol {
      @apply pl-0 #{!important};

      li {
        @apply my-0 pl-0 leading-[1.5] first:mt-0;

        a {
          @apply pl-0 font-normal;
        }
      }
    }
  }
}

// changelog
.changelog {
  @apply mt-8 rounded-xl border border-border bg-theme-light px-6 pb-12 pt-4 sm:rounded-2xl md:px-8;

  &-item {
    @apply pt-8 lg:scroll-mt-[105px];
  }
  &-title {
    @apply text-h4-md md:text-h4;
  }
  &-content {
    ul,
    ol {
      li {
        @apply relative mb-2 ml-6 pl-1 font-secondary text-text;

        @apply after:bg-theme-dark after:absolute after:bottom-0 after:left-[-20px] after:top-[10px] after:h-[9px] after:w-[9px] after:rounded-full after:content-[""];
      }
    }
  }
}
.changelog-link a.active {
  @apply text-secondary;
}

// Badge
.badge {
  @apply mb-8 w-fit rounded-lg px-4 py-2 font-secondary text-sm font-medium text-text;

  &-gray {
    @apply bg-theme-light;
  }

  &.changed {
    @apply mb-4 mt-7 bg-[#3A9CFF] text-white;
  }

  &.added {
    @apply mb-4 mt-7 bg-[#01CE93] text-white;
  }

  &.removed {
    @apply mb-4 mt-7 bg-[#973BFE] text-white;
  }

  &.security {
    @apply mb-4 mt-7 bg-[#9C275E] text-white;
  }
}
#changelog {
  @apply mb-6;
}
// content style
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.9em] prose-headings:mt-0 prose-headings:scroll-mt-28 prose-headings:font-semibold prose-headings:text-dark;
  @apply prose-h1:mb-[1.4rem] prose-h1:text-h1-md;
  @apply prose-h2:mb-[1.4rem] prose-h2:text-h2-md;
  @apply prose-h3:mb-[1.4rem] prose-h3:text-h3-md;
  @apply prose-h4:mb-[1.4rem] prose-h4:text-h4-md;
  @apply prose-h5:mb-[1.4rem] prose-h5:text-h5-md;
  @apply prose-h6:mb-[1.4rem] prose-h6:text-h6-md;
  @apply prose-hr:border-border;
  @apply prose-p:mb-6 prose-p:mt-0 prose-p:text-h6 prose-p:font-normal prose-p:text-text;
  @apply lg:px-6 py-8 prose-blockquote:mb-3 prose-blockquote:rounded-r-2xl prose-blockquote:border prose-blockquote:border-l-[4px] prose-blockquote:border-border prose-blockquote:border-l-primary prose-blockquote:bg-theme-light prose-blockquote:px-5 prose-blockquote:py-7 prose-blockquote:font-secondary prose-blockquote:after:hidden;
  @apply prose-code:px-1 prose-code:text-text;
  @apply prose-figcaption:text-center prose-figcaption:font-secondary prose-figcaption:italic prose-pre:rounded-none;
  @apply prose-a:text-primary prose-a:no-underline hover:prose-a:underline;
  @apply prose-li:text-text;
  @apply prose-table:border prose-table:font-secondary;
  @apply prose-thead:bg-theme-dark prose-thead:border-border prose-th:px-4 prose-th:py-4 prose-th:text-text;
  @apply prose-tr:border-border;
  @apply prose-td:px-3 prose-td:py-4;
  @apply prose-img:rounded-[10px] sm:prose-img:rounded-[25px];
  @apply prose-strong:text-secondary;
  @apply prose-ol:list-decimal prose-ol:pl-5 prose-ul:list-none prose-ul:pl-0 prose-li:relative prose-li:mb-3 prose-li:pl-7 prose-li:font-secondary prose-li:font-normal prose-li:leading-[180%];

  iframe {
    @apply rounded-2xl;
  }

  p,
  li {
    @apply text-[16px] sm:text-[18px] #{!important};
  }

  & > *:first-child {
    @apply mt-0 #{!important};
  }
  & > *:last-child {
    @apply mb-0 #{!important};
  }

  ul {
    @apply prose-li:after:bg-theme-dark prose-li:after:absolute prose-li:after:bottom-0 prose-li:after:left-[3px] prose-li:after:top-[12px] prose-li:after:h-[9px] prose-li:after:w-[9px] prose-li:after:rounded-full prose-li:after:content-[""] #{!important};
  }

  ol {
    @apply prose-li:pl-3;
  }

  table {
    @apply border-separate border-spacing-0 overflow-hidden rounded-xl prose-thead:bg-primary sm:rounded-2xl;

    th {
      @apply w-[33.33%] font-primary text-sm md:text-[22px];
    }

    &,
    td {
      @apply border border-border text-text;
    }

    td {
      @apply border-b-0 text-[14px] font-medium md:text-[20px];
    }

    thead tr th {
      @apply border border-b-0 border-stone-300;
    }

    th:first-child,
    tr td:first-child {
      @apply border-l-0 border-r-0 px-3 sm:px-2 sm:pl-[6%];
    }

    th:last-child,
    tr td:last-child {
      @apply border-l-0 border-r-0 px-3 sm:px-2 sm:pr-[8%];
    }
  }

  strike {
    @apply font-semibold;
  }

  figure {
    img {
      @apply mx-auto mb-0 #{!important};
    }
  }

  blockquote {
    @apply prose-p:mb-0 prose-p:not-italic prose-p:before:hidden;
  }

  a:not(.btn) {
    @apply font-medium text-secondary underline;
    &:hover {
      @apply no-underline;
    }
  }

  hr {
    @apply mb-8 mt-10;

    &:first-child {
      @apply mt-6;
    }
  }

  // Tab
  .tab {
    @apply mb-6;

    .tab-nav {
      @apply m-0 flex flex-wrap gap-4 rounded-xl rounded-b-none bg-theme-light p-4;
    }

    .tab-nav-item {
      @apply bg-theme-dark/10 mb-0 mt-0 cursor-pointer list-none rounded-lg px-4 py-3 text-sm font-semibold text-text after:hidden sm:text-base;

      &.active {
        @apply text-theme-dark bg-primary;
      }
    }
    .astro-code {
      @apply bg-[#8080801c] rounded-xl #{!important};
    }
    .tab-content .tab-content-panel {
      @apply hidden font-secondary;

      & > *:first-child {
        @apply mt-0 #{!important};
      }

      & > *:last-child {
        @apply mb-0 #{!important};
      }

      ul,
      ol {
        li {
          @apply marker:left-2 after:left-2;

          &:first-child {
            @apply mt-0;
          }

          &:last-child {
            @apply mb-0;
          }
        }
      }

      ol li {
        @apply pl-2;
      }
    }

    .tab-content .tab-content-panel.active {
      @apply m-0 block list-none rounded-xl rounded-t-none border border-t-0 border-theme-light bg-transparent p-4 sm:rounded-2xl sm:rounded-t-none;

      ul,
      ol {
        @apply mb-3;
      }
    }
  }

  // breadcrumb
  .breadcrumb {
    @apply mb-0 flex list-none items-center gap-2 overflow-auto whitespace-nowrap font-secondary text-sm font-medium text-text max-md:ml-[50px];
    li {
      @apply text-sm #{!important};

      &:not(:last-child) {
        @apply relative pr-6 text-sm leading-[180%] after:absolute after:right-[4px] after:top-1/2 after:h-[11px] after:w-[11px] after:-translate-y-1/2 after:bg-no-repeat #{!important};

        &::after {
          background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 11L6 6L1 1' stroke='%23BCBCBC' stroke-width='1.5'/%3E%3C/svg%3E%0A");
        }
      }
      &:last-child,
      &:last-child a {
        @apply pointer-events-none text-text/60;
      }
    }
    a {
      @apply text-inherit no-underline transition-colors duration-300 hover:text-secondary;
    }

    &::-webkit-scrollbar {
      @apply h-[2px];
    }

    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }

    @media screen and (max-width: 1023px) {
      &::-webkit-scrollbar-track {
        @apply bg-theme-light;
      }

      &::-webkit-scrollbar-thumb {
        @apply bg-theme-dark/25;
      }
    }

    @media screen and (min-width: 1024px) {
      &:hover::-webkit-scrollbar-track {
        @apply bg-theme-light;
      }

      &:hover::-webkit-scrollbar-thumb {
        @apply bg-theme-dark/25;
      }
    }
  }

  // Notices
  .notices {
    @apply relative mx-0 my-6 overflow-hidden rounded-xl;

    p {
      @apply mb-0 rounded-xl border border-t-[3rem] border-solid border-t-transparent p-[1.5rem];

      @apply before:border-theme-dark before:text-theme-dark before:absolute before:left-[1.5rem] before:top-[15px] before:h-[25px] before:w-[25px] before:rounded-[50%] before:border-[2px] before:border-solid before:text-center before:font-secondary before:leading-4 before:content-["\2139"];

      @apply after:text-theme-dark after:absolute after:left-[3.5rem] after:top-[12px] after:font-primary after:text-lg after:font-medium;

      &::before {
        @apply border-white text-white #{!important};
      }
      &::after {
        @apply text-white #{!important};
      }
    }
    &.note p {
      @apply border-sky-400 after:content-["Note"];
    }
    &.tip p {
      @apply border-green-500 after:content-["Tip"];
    }
    &.info p {
      @apply border-orange-400 after:content-["Info"];
    }
    &.warning p {
      @apply border-red-400 after:content-["Warning"];
    }
  }

  // card
  .card-cta {
    img {
      @apply mb-0 #{!important};
      @apply max-[576px]:hidden;
    }
  }
}

.highlight {
  @apply my-6 rounded-r-2xl border-l-[5px] border-l-primary bg-theme-light;

  .file-name {
    @apply p-6 pl-8 font-medium text-text;
  }
  .file-extension {
    @apply absolute left-8 z-10 -bottom-[40px] rounded-b-md bg-sky-400 px-2 py-1 font-medium text-text;
  }
  .copy {
    @apply absolute z-10 right-4 -bottom-[60px] cursor-pointer rounded-md bg-dark/10 p-2 px-3 text-sm font-normal text-text transition-colors duration-300 hover:bg-dark hover:text-white;
  }
  pre {
    @apply relative my-0 whitespace-pre-wrap border-t border-t-neutral-200 bg-transparent pb-6 pl-8 pt-16 font-primary text-[16px] sm:text-[18px] bg-theme-light #{!important};

    code {
      @apply pl-0 text-text;
    }
  }
}

[data-rmiz-modal-overlay="visible"] {
  @apply bg-black bg-opacity-80 #{!important};
}
[data-rmiz-modal-content] {
  button {
    @apply hidden #{!important};
  }
}

// Search
.search-result-item {
  @apply overflow-hidden;
}
.search-wrapper-footer kbd {
  @apply inline-block;
}
.search-content {
  @apply font-secondary;
}
#search-modal-input {
  @apply border;

  &:focus {
    @apply shadow-none outline-none ring-0;
  }
}
