#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.logo.ao {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#books-table {
  width: 100%;
  border-collapse: collapse;
}

#books-table th {
  background-color: #333;
  padding: 1em;
}

#books-table td {
  padding: 1em;
}

input {
  padding: 0.5em;
  font-size: 1em;
}
